n8n/drafts/PRISMA_CHAT 1.0.json
{
  "name": "PRISMA:CHAT 1.0",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "chat-trigger",
      "name": "Telegram Trigger",
      "webhookId": "prisma-chat-webhook",
      "credentials": {
        "telegramApi": {
          "id": "ZYhG67I5bH4TmiC5",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prisma_decisions",
        "returnAll": false,
        "limit": 1,
        "filterType": "none",
        "options": {
          "order": {
            "field": "decision_ts",
            "direction": "desc"
          }
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [256, 0],
      "id": "get-last-decision",
      "name": "Get última decisión",
      "credentials": {
        "supabaseApi": {
          "id": "YGjSartncfCdmZaF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prisma_latest_state",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [512, 0],
      "id": "get-latest-state",
      "name": "Get estado actual",
      "credentials": {
        "supabaseApi": {
          "id": "YGjSartncfCdmZaF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const decision = $('Get última decisión').first().json;\nconst stateItems = $('Get estado actual').all();\nconst userMessage = $('Telegram Trigger').first().json.message.text;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\nconst state = stateItems.map(i => ({\n  entity_id: i.json.entity_id,\n  entity_type: i.json.entity_type,\n  attributes: i.json.attributes\n}));\n\nreturn [{\n  json: {\n    user_message: userMessage,\n    chat_id: chatId,\n    last_decision: {\n      alert_level: decision.alert_level,\n      summary: decision.summary,\n      key_factors: decision.key_factors,\n      recommended_actions: decision.recommended_actions,\n      scenario_ts: decision.scenario_ts\n    },\n    current_state: state\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 0],
      "id": "build-context",
      "name": "Build Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta del operador:\n{{ $json.user_message }}\n\nÚltima decisión PRISMA ({{ $json.last_decision.scenario_ts }}):\n- Nivel: {{ $json.last_decision.alert_level }}\n- Situación: {{ $json.last_decision.summary }}\n- Factores: {{ $json.last_decision.key_factors.join(', ') }}\n- Acciones: {{ $json.last_decision.recommended_actions.join(', ') }}\n\nEstado actual de sensores:\n{{ JSON.stringify($json.current_state, null, 2) }}",
        "options": {
          "systemMessage": "Eres PRISMA, asistente de inteligencia situacional para emergencias en Pamplona.\n\nTu rol es ayudar al operador del 112 a entender la situación actual y las decisiones del sistema.\n\nCONTEXTO DISPONIBLE:\n- Última decisión automática de PRISMA (nivel de alerta, factores, acciones)\n- Estado actual de todos los sensores\n\nREGLAS:\n- Responde en español, tono profesional pero cercano\n- Sé conciso: máximo 3-4 frases por respuesta\n- Si te preguntan algo que no está en los datos, dilo claramente\n- No inventes información\n- Si el operador pide una acción, recuérdale quién es el responsable según el protocolo\n\nEJEMPLOS DE PREGUNTAS:\n- \"¿Por qué recomiendas X?\" → Explica el razonamiento basándote en los datos\n- \"¿Cómo está el hospital?\" → Busca HospitalStatus en el estado actual\n- \"¿Va a empeorar?\" → Analiza tendencias en los datos disponibles\n- \"Dame más detalles de X\" → Profundiza en la entidad relevante"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [1024, 0],
      "id": "chat-agent",
      "name": "AI Agent Chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [912, 224],
      "id": "chat-model",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "T8oaOeRWhexmZpY8",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1136, 224],
      "id": "chat-memory",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1280, 0],
      "id": "send-response",
      "name": "Telegram Response",
      "credentials": {
        "telegramApi": {
          "id": "ZYhG67I5bH4TmiC5",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Get última decisión", "type": "main", "index": 0}]]
    },
    "Get última decisión": {
      "main": [[{"node": "Get estado actual", "type": "main", "index": 0}]]
    },
    "Get estado actual": {
      "main": [[{"node": "Build Context", "type": "main", "index": 0}]]
    },
    "Build Context": {
      "main": [[{"node": "AI Agent Chat", "type": "main", "index": 0}]]
    },
    "AI Agent Chat": {
      "main": [[{"node": "Telegram Response", "type": "main", "index": 0}]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent Chat", "type": "ai_languageModel", "index": 0}]]
    },
    "Chat Memory": {
      "ai_memory": [[{"node": "AI Agent Chat", "type": "ai_memory", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}


